@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/spacing' as *;
@use '../../styles/breakpoints' as *;

.new-bean {
  @include form-padding;
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 20rem;
    margin: auto;
  }
  &__heading {
    align-self: center;
  }
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }
  &__asterisk {
    color: $pink-accent;
  }
  &__input {
    @include form-field;
    &--invalid {
      border-color: $pink-accent;
      &:focus {
        outline: none;
      }
    }
    &--select {
      appearance: none;
      background-image: url(../../assets/icons/arrow_drop_down-24px.svg);
      background-repeat: no-repeat;
      background-position: right 0.25rem top 50%;
      height: 1.9rem;
    }
  }
  &__placeholder-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    width: 7.75rem;
    height: 9rem;
    background-color: $grey;
    margin: 0.25rem auto 0;
    padding: 0.5rem;
    position: relative;
    @include flex(flex-end, flex-start);
    flex-direction: column;
  }
  &__image-upload {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: none;
    position: absolute;
    right: 0.6rem;
    top: 0.6rem;
    @include flex(center, center);
    font-size: 1.75rem;
    font-weight: 700;
    color: $white;
    cursor: pointer;
  }
  &__image-name {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    color: $white;
    width: 7.75rem;
    word-wrap: break-word;
  }
  &__image-brand {
    font-weight: 600;
    color: $white;
  }
  &__buttons {
    display: flex;
    gap: 1rem;
    align-self: flex-end;
    margin-top: 0.75rem;
  }
  &__cancel {
    @include button(1.25, 4rem);
    color: $dark-grey;
    background-color: #FFFFFF00
  }
  &__cancel-link {
    text-decoration: none;
  }
  &__add {
    @include button(1.25rem, 4rem);
  }
}

.photo-upload {
  border: 1px solid $grey;
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;
  background-color: $white;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  &__upload {
    @include button(1.3rem, 4rem);
    background-color: $white;
    color: $dark-grey;
    border: 1px solid $grey;
  }
  &__file-input {
    &::file-selector-button {
      background-color: $light-grey;
      color: $dark-grey;
      border: 1px solid $grey;
      border-radius: 0.25rem;
      padding: 0.3rem 0.7rem;
      font-weight: 600;
      font-size: 0.75rem;
      text-transform: uppercase;
      margin-right: 0.75rem;
      cursor: pointer;
    }
  }
}