@use '../../styles/spacing' as *;
@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/font-size' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/fonts';

.edit-recipe {
  @include section-padding;
  padding-bottom: 1rem;
  flex: 1;
  @include desktop {
    display: flex;
    flex-direction: column;
  }
  &__header {
    @include flex(space-between, center);
  }
  &__toggle-container {
    display: flex;
    gap: 0.25rem;
  }
  &__toggle {
    position: relative;
    height: 1.3rem;
    width: 2.75rem;
    background-color: $pink-accent;
    border-radius: 3rem;
  }
  &__toggle-button {
    height: 1.075rem;
    width: 1.075rem;
    border-radius: 50%;
    border: none;
    background-color: $white;
    position: absolute;
    top: 0.1rem;
    left: 0.2rem;
  }
  &__dialing {
    @include body-small;
    margin-top: 0.1rem;
    margin-right: 0.25rem;
    color: $pink-accent;
  }
  &__check {
    width: 1.2rem;
    filter: invert(69%) sepia(2%) saturate(0%) hue-rotate(273deg) brightness(92%) contrast(99%);
  }
  &__parameters {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 1rem;
  }
  &__label {
    width: 33%;
    @include flex(center, center);
    flex-direction: column;
  }
  &__input {
    @include form-field(1.75rem, 3rem, $light-grey);
    &::placeholder {
      color: $dark-black;
    }
  }
  &__notes {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
  }
  &__subheading {
    color: $pink-accent;
    margin-bottom: 0.25rem;
    margin-left: 1rem;
  }
  &__text-area {
    resize: none;
    width: 95%;
    height: 2.5rem;
    // border: none;
    border: 1px solid $grey;
    background-color: $light-grey;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-family: 'Avenir';
    font-size: 0.75rem;
    align-self: center;
    &:focus {
      outline: none;
    }
  }
  // &__parameter {
  //   @include flex(center, center);
  //   flex-direction: column;
  //   gap: 0.15rem;
  //   width: 33%;
  // }
  // &__parameter-value {
  //   font-size: 0.75rem;
  // }
}