@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font-size' as *;
@use '../../styles/breakpoints' as *;

.pop-up {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  backdrop-filter: blur(2px);
  &__container {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding-top: 12em;
    @include tablet {
      padding-top: 15rem;
    }
  }
  &__window {
    background-color: $white;
    padding: 0.5rem 3rem 0;
    height: 10rem;
    @include flex(flex-end, center);
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid $pink-accent;
    @include tablet {
      padding: 0.5rem 4rem 0;
    }
  }
  &__header {
    color: $pink-accent;
    font-size: 0.875rem;
    padding-bottom: 0.25rem;
  }
  &__text {
    @include body-medium;
    margin: 0;
  }
}