@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/font-size' as *;
@use '../../styles/breakpoints' as *;

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 2rem;
  left: 0;
  backdrop-filter: blur(2px);
  @include desktop {
    top: 5.5rem;
  }
  &__container {
    width: 100%;
    position: fixed;
    top: 40%;
    left: 0;
    display: flex;
    justify-content: center;
  }
  &__window {
    background-color: $white;
    padding: 1.5rem 2.5rem 0;
    @include flex(flex-end, center);
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid $pink-accent;
  }
  &__header {
    color: $pink-accent;
    width: 12rem;
    font-size: 0.875rem;
    padding-bottom: 0.25rem;
    text-align: center;
  }
  &__text {
    @include body-medium;
    margin: 0;
  }
}