@use '../../styles/mixins' as *;
@use '../../styles/spacing' as *;
@use '../../styles/breakpoints' as *;
@use '../../styles/variables' as *;
@use '../../styles/font-size' as *;

.signup {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  @include desktop {
    flex-direction: row;
  }
  &__header {
    background-color: $header;
    height: 30%;
    @include flex(center, flex-end);
    padding: 1.5rem;
    @include desktop {
      height: 100%;
      width: 45%;
      align-items: center;
      padding: 0;
    }
  }
  &__title {
    font-size: 1.5rem;
    @include tablet {
      @include font(1.5rem, 2rem, 600);
    }
    @include desktop {
      font-size: 2rem;
    }
  }
  &__container {
    background-image: url(../../assets/images/hero.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    flex: 1;
    @include flex(flex-start, center);
    flex-direction: column;
    padding: 1.25rem 0;
    gap: 0.5rem;
    position: relative;
    @include desktop {
      justify-content: center;
      padding: 2rem 0;
    }
  }
  &__prompt {
    color: $white;
    margin-bottom: 0.5rem;
    @include tablet {
      @include font(1rem, 1.75rem, 600)
    }
  }
  &__form {
    @include flex(center, flex-start);
    flex-direction: column;
    gap: 1rem;
  }
  &__input {
    @include form-field(1.75rem, 15rem, $white);
    &::placeholder {
      color: $dark-grey;
    }
    &--invalid {
      border: 1px solid $pink-accent;
    }
  }
  &__buttons {
    width: 100%;
    @include flex(space-between, center);
    flex-direction: row-reverse;
    padding-top: 0.5rem;
  }
  &__cancel {
    @include back-button;
  }
  &__submit {
    @include button(1.5rem, fit-content);
  }
  &__message {
    background-color: $white;
    padding: 0.75rem 1rem;
    width: 12.75rem;
    align-self: center;
    border: 1.5px solid $pink-accent;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    text-align: center;
    margin-top: 1rem;
  }
}