@use '../../styles/spacing' as *;
@use '../../styles/variables' as *;
@use '../../styles/font-size' as *;
@use '../../styles/mixins' as *;
@use '../../styles/breakpoints' as *;

.coffee-details {
  flex: 1;
  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__section {
    width: 70vw;
    max-width: 20rem;
    margin: 0 auto;
    padding: 1.25rem 1.5rem;
    @include flex(center, center);
    flex-direction: column;
    gap: 0.75rem;
    background-color: $light-grey;
    border-radius: 1rem;
    position: relative;
  }
  &__subheading {
    width: 100%;
    border-bottom: $divider;
    text-align: center;
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
  }
  &__property {
    display: flex;
    width: 15rem;
    margin-left: 3rem;
  }
  &__key {
    min-width: 4rem;
  }
  &__value {
    @include body-medium;
    padding-right: 1rem;
  }
  &__external-link {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }
  &__link-icon {
    height: 1.5rem;
    filter: invert(65%) sepia(6%) saturate(0%) hue-rotate(267deg) brightness(101%) contrast(81%);
  }
}