@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/spacing' as *;
@use '../../styles/breakpoints' as *;

.coffee-beans {
  @include section-padding;
  display: flex;
  flex-direction: column;
  border-bottom: $divider;
  &__header {
    @include flex(space-between, center);
  }
  &__scroll-container {
    @include flex(flex-start, center);
    padding-right: 1rem;
  }
  &__list {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0.5rem 0;
  }
  &__item {
    list-style-type: none;
  }
  &__placeholder {
    height: 7rem;
    width: 6rem;
    background-color: $grey;
    padding: 0.5rem;
    box-sizing: border-box;
    @include flex(flex-end, flex-start);
    flex-direction: column;
    cursor: pointer;
    @include tablet {
      height: 9rem;
      width: 7.75rem;
    }
  }
  &__placeholder-name {
    font-size: 1.125rem;
    font-weight: 700;
    letter-spacing: 0.025rem;
    padding-bottom: 0.25rem;
    color: $white;
    width: 5.5rem;
    word-wrap: break-word;
    @include tablet {
      font-size: 1.5rem;
      width: 6.5rem;
    }
  }
  &__placeholder-brand {
    font-weight: 600;
    font-size: 0.8125rem;
    color: $white;
    @include tablet {
      font-size: 1rem;
    }
  }
  &__coffee-bag {
    height: 7rem;
    width: 6rem;
    object-fit: cover;
    @include tablet {
      height: 9rem;
      width: 7.75rem;
    }
    &:hover {
      transform: scale(1.25);
      transition: 0.25s;
    }
  }
  &__button-link {
    align-self: flex-end;
    text-decoration: none;
  }
  &__button {
    @include button(1.5rem, 8rem);
  }
  &__link {
    text-decoration: none;
  }
}

.search {
  position: relative;
  &__icon {
    position: absolute;
    height: 1.25rem;
    right: 0.3rem;
    top: 0.15rem;
    opacity: 0.5;
  }
  &__input {
    @include form-field(1.5rem, 8rem, $light-grey);
    @include tablet {
      width: 12rem;
    }
  }
}