@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;
@use '../../styles/spacing' as *;
@use '../../styles/breakpoints' as *;

.other-brew-methods {
  @include section-padding;
  @include flex(flex-start, center);
  flex-direction: column;
  flex: 1;
  @include desktop {
    justify-content: center;
  }
  &__scroll-container {
    @include flex(center, center);
    width: 100%;
    padding-right: 1.5rem;
    @include desktop {
      width: 40vw;
    }
  }
  &__list {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 0.25rem 0 1rem;
  }
  &__item {
    list-style-type: none;
  }
  &__right-arrow {
    height: 1.5rem;
    filter: invert(81%) sepia(94%) saturate(0%) hue-rotate(114deg) brightness(96%) contrast(91%);
    position: absolute;
    right: 1rem;
  }
  &__equipment {
    height: 7rem;
    width: 6rem;
    object-fit: cover;
    @include tablet {
      height: 9rem;
      width: 7.75rem;
    }
    &:hover {
      transform: scale(1.25);
      transition: 0.25s;
    }
  }
}