@font-face {
  font-family: 'Avenir';
  src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format('opentype');
  src: url(../assets/fonts/alternative_files/AvenirNextLTPro.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir';
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format('opentype');
  src: url(../assets/fonts/alternative_files/AvenirNextLTProDemi.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir';
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format('opentype');
  src: url(../assets/fonts/alternative_files/AvenirNextLTProBold.ttf) format('truetype');
  font-weight: 700;
}