@use './variables' as *;
@use './font-size' as *;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin form-field($height: 1.75rem, $width: default, $color: $white) {
  height: $height;
  width: $width;
  background-color: $color;
  border: 1px solid $grey;
  border-radius: 0.25rem;
  padding: 0 0.75rem;
  &::placeholder {
    color: $grey;
  }
  &:focus {
    outline: 1px solid $pink-accent;
  }
}

@mixin button($height: 1.75rem, $width: fit-content) {
  height: $height;
  width: $width;
  background-color: $pink-accent;
  color: $white;
  border-radius: 0.25rem;
  border: none;
  @include buttons;
  letter-spacing: 0.04rem;
  padding: 0 0.5rem;
  cursor: pointer;
}