@use './variables' as *;

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin form-field($height: 1.75rem, $width, $color: $white) {
  height: $height;
  width: $width;
  background-color: $color;
  border: 1px solid $grey;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  &::placeholder {
    color: $grey;
  }
  &:focus {
    outline: 1px solid $pink-accent;
  }
}